@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600;700&display=swap');

.ql-container.ql-snow {
  border: none !important;
  outline: solid 1px #0098ff;
  border-radius: 7px;
  font-size: 17px;
  margin-bottom: 0;
}
.ql-toolbar.ql-snow {
  border: none !important;
  margin-top: -10px;
}
.ql-container.ql-snow:hover {
  outline: solid 2px #0098ff;
}